---

- name: Redis Deployment & Service
  k8s:
    state: present
    apply: yes
    wait: no
    definition: "{{ lookup('template', 'templates/' + item + '.yaml.j2') | from_yaml }}"
  loop:
    - 'redis.service'
    - 'redis.deployment'
  no_log: "{{ no_log }}"
