# Event Persistence Postgres Secret.
---
apiVersion: v1
kind: Secret
metadata:
  name: '{{ ansible_operator_meta.name }}-event-persistence-postgres-configuration'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    app.kubernetes.io/name: '{{ ansible_operator_meta.name }}'
    app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
    app.kubernetes.io/component: 'event-persistence-database'
stringData:
  username: '{{ event_persistence_database_username }}'
  password: '{{ lookup("password", "/dev/null length=32 chars=ascii_letters,digits") }}'
  database: '{{ event_persistence_database_name }}'
  port: '{{ eda_postgres_port }}'
  host: '{{ eda_postgres_host }}'
  sslmode: '{{ event_persistence_pg_sslmode }}'
  type: '{{ "managed" if managed_database else "unmanaged" }}'
