---
apiVersion: v1
kind: Service
metadata:
  name: "{{ ansible_operator_meta.name }}-postgres-{{ supported_pg_version }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    app.kubernetes.io/name: 'postgres-{{ supported_pg_version }}'
    app.kubernetes.io/instance: 'postgres-{{ supported_pg_version }}-{{ ansible_operator_meta.name }}'
    app.kubernetes.io/component: 'database'
    app.kubernetes.io/managed-by: 'eda-operator'
spec:
  ports:
  - name: "5432"
    port: 5432
    targetPort: 5432
  clusterIP: None
  selector:
    app.kubernetes.io/name: 'postgres-{{ supported_pg_version }}'
    app.kubernetes.io/instance: 'postgres-{{ supported_pg_version }}-{{ ansible_operator_meta.name }}'
    app.kubernetes.io/component: 'database'
    app.kubernetes.io/managed-by: 'eda-operator'
