---
- name: Wait for {{ deployment_type }}restore to complete
  kubernetes.core.k8s_info:
    api_version: "{{ api_version }}"
    kind: "{{ deployment_type }}restore"
    namespace: "{{ ansible_operator_meta.namespace }}"
  register: restore_status_check
  until:
    # yamllint disable-line rule:line-length
    - (restore_status_check.resources | length == 0) or (restore_status_check.resources | selectattr('spec.deployment_name', 'equalto', ansible_operator_meta.name) | map(attribute='status') | selectattr('restoreComplete', 'defined') | map(attribute='restoreComplete') | list | length > 0)
  delay: 10
  retries: 8640
  ignore_errors: yes
  changed_when: false

- name: Configure public_base_url
  ansible.builtin.set_fact:
    event_stream_base_url: "{{ public_base_url.rstrip('/') }}/{{ event_stream_prefix_path.strip('/') }}"
    event_stream_mtls_base_url: "{{ public_base_url.rstrip('/') }}/{{ event_stream_mtls_prefix_path }}"
  when: public_base_url | default('') | length > 0

- name: Apply ConfigMap resources
  k8s:
    apply: yes
    definition: "{{ lookup('template', 'eda.configmap.yaml.j2') }}"
    wait: yes

- name: Apply Redirect Page Configmap
  k8s:
    apply: yes
    definition: "{{ lookup('template', 'redirect-page.configmap.html.j2') }}"
    wait: yes
  when: public_base_url is defined

- name: Apply Backend deployment resources
  k8s:
    apply: yes
    definition: "{{ lookup('template', item + '.yaml.j2') }}"
    wait: no
  loop:
    - 'eda-api.configmap'
    - 'eda-api.service'
    - 'eda-api.deployment'
    - 'eda-default-worker.deployment'
    - 'eda-activation-worker.deployment'
    - 'eda-event-stream.configmap'
    - 'eda-event-stream.service'
    - 'eda-event-stream.deployment'

- name: Apply event-stream ingress resources
  k8s:
    apply: yes
    definition: "{{ lookup('template', item + '.yaml.j2') }}"
    wait: no
  loop:
    - 'eda-event-stream.ingress'
  when:
    - (service_type | lower) == 'route' or ((service_type | lower) == 'ingress' and ui_disabled)
  # Always runs if service_type: Route
  # If service_type: Ingress, only run if UI is disabled
  # If UI is enabled, the event-stream ingress is handled by the UI ingress via multiple pathes

- name: Apply UI deployment resources if UI is enabled
  k8s:
    state: "{{ 'present' if not ui_disabled else 'absent' }}"
    definition: "{{ lookup('template', item + '.yaml.j2') }}"
    wait: no
  loop:
    - 'eda-ui.service'
    - 'eda-ui.deployment'
    - 'eda-ui.ingress'

- name: Apply API Route or Ingress if UI is disabled
  k8s:
    state: "{{ 'present' if ui_disabled else 'absent' }}"
    definition: "{{ lookup('template', item + '.yaml.j2') }}"
    wait: no
  loop:
    - 'eda-api.ingress'

- name: Remove legacy EDA worker deployment
  k8s:
    api_version: apps/v1
    kind: Deployment
    name: "{{ ansible_operator_meta.name }}-worker"
    namespace: "{{ ansible_operator_meta.namespace }}"
    state: absent

- name: Remove legacy EDA scheduler deployment
  k8s:
    api_version: apps/v1
    kind: Deployment
    name: "{{ ansible_operator_meta.name }}-scheduler"
    namespace: "{{ ansible_operator_meta.namespace }}"
    state: absent

- name: Check for API Pod
  k8s_info:
    kind: Pod
    api_version: v1
    namespace: "{{ ansible_operator_meta.namespace }}"
    label_selectors:
      - "app.kubernetes.io/name={{ ansible_operator_meta.name }}"
      - "app.kubernetes.io/managed-by={{ deployment_type }}-operator"
      - "app.kubernetes.io/component={{ deployment_type }}-api"
    field_selectors:
      - status.phase=Running
  register: eda_api_pod
  until:
    - "eda_api_pod['resources'] | length"
    - "eda_api_pod['resources'][0]['status']['phase'] == 'Running'"
    - "eda_api_pod['resources'][0]['status']['containerStatuses'][0]['ready'] == true"
    - "eda_api_pod['resources'][0]['status']['containerStatuses'][1]['ready'] == true"
  retries: 60
  delay: 5

- name: Set the resource pod name as a variable.
  set_fact:
    eda_api_pod_name: "{{ eda_api_pod['resources'][0]['metadata']['name'] | default('') }}"
