---
# tasks file for EDA

- name: Configure cluster
  include_role:
    name: common

- name: Setup PostgreSQL Database
  include_role:
    name: postgres

- name: Setup Redis Cache
  include_role:
    name: redis

- name: Set EDA app images
  include_tasks: set_images.yml

- name: Create secret key
  include_tasks: secret_key_configuration.yml

- name: Deploy EDA
  include_tasks: deploy_eda.yml

- name: Create admin user
  include_tasks: create_admin_user.yml
