---
# tasks file for EDA

- name: Combine default and custom vars for each component
  include_tasks: combine_defaults.yml

- name: Configure cluster
  include_role:
    name: common

- name: Idle EDA
  include_tasks: idle_deployment.yml
  when: idle_deployment | bool

- name: Check for old postgres configuration
  kubernetes.core.k8s_info:
    kind: Secret
    namespace: '{{ ansible_operator_meta.namespace }}'
    name: '{{ old_postgres_configuration_secret }}'
  register: old_pg_config
  no_log: "{{ no_log }}"
  when: old_postgres_configuration_secret is defined

- name: Setup PostgreSQL Database
  include_role:
    name: postgres

- name: Migrate data from old database
  include_tasks: migrate_data.yml
  when:
    - old_pg_config is defined
    - old_pg_config['resources'] | default([]) | length > 0
  register: migration_result

- name: Cleanup migration references
  include_tasks: cleanup_migration_references.yml
  when:
    - migration_result is defined
    - migration_result is success
    - eda_migrated_from_secret is defined

- name: Set EDA app images
  include_tasks: set_images.yml

- name: Set Bundle Certificate Authority
  include_tasks: set_bundle_cacert.yml
  when:
  - bundle_cacert_secret | length

- name: Create DB fields encryption
  include_tasks: db_fields_encryption_configuration.yml

- name: Create admin password
  include_tasks: admin_password_configuration.yml

- name: Load Route TLS certificate
  include_tasks: load_route_tls_secret.yml
  when:
    - ingress_type | lower == 'route'
    - route_tls_secret | length

- name: Deploy EDA
  include_tasks: deploy_eda.yml

- name: Create admin user
  include_tasks: create_admin_user.yml
  when: eda_api_pod_name | length

- name: Update status variables
  include_tasks: update_status.yml
