---
- name: Update admin password status
  operator_sdk.util.k8s_status:
    api_version: '{{ api_version }}'
    kind: "{{ kind }}"
    name: "{{ ansible_operator_meta.name }}"
    namespace: "{{ ansible_operator_meta.namespace }}"
    status:
      adminPasswordSecret: "{{ __admin_password_secret['resources'][0]['metadata']['name'] }}"

- name: Update admin user status
  operator_sdk.util.k8s_status:
    api_version: '{{ api_version }}'
    kind: "{{ kind }}"
    name: "{{ ansible_operator_meta.name }}"
    namespace: "{{ ansible_operator_meta.namespace }}"
    status:
      adminUser: "{{ admin_user }}"

- name: Update postgres configuration status
  operator_sdk.util.k8s_status:
    api_version: '{{ api_version }}'
    kind: "{{ kind }}"
    name: "{{ ansible_operator_meta.name }}"
    namespace: "{{ ansible_operator_meta.namespace }}"
    status:
      databaseConfigurationSecret: "{{ pg_config['resources'][0]['metadata']['name'] }}"

- name: Update DB fields encryption status
  operator_sdk.util.k8s_status:
    api_version: '{{ api_version }}'
    kind: "{{ kind }}"
    name: "{{ ansible_operator_meta.name }}"
    namespace: "{{ ansible_operator_meta.namespace }}"
    status:
      dbEncryptionFieldsSecret: "{{ db_fields_encryption_secret_name }}"

- block:
    - name: Retrieve instance version
      k8s_exec:
        namespace: "{{ ansible_operator_meta.namespace }}"
        pod: "{{ eda_api_pod_name }}"
        container: "eda-api"
        command: >-
          bash -c "echo 'import pkg_resources;
          print(pkg_resources.get_distribution(\"aap-eda\").version)'
          | aap-eda-manage shell"
      register: instance_version
      changed_when: false

    - name: Update version status
      operator_sdk.util.k8s_status:
        api_version: '{{ api_version }}'
        kind: "{{ kind }}"
        name: "{{ ansible_operator_meta.name }}"
        namespace: "{{ ansible_operator_meta.namespace }}"
        status:
          version: "{{ instance_version.stdout | trim }}"
  when: eda_api_pod_name | length

- name: Update image status
  operator_sdk.util.k8s_status:
    api_version: '{{ api_version }}'
    kind: "{{ kind }}"
    name: "{{ ansible_operator_meta.name }}"
    namespace: "{{ ansible_operator_meta.namespace }}"
    status:
      image: "{{ _api_image }}"

- block:
    - name: Retrieve route URL
      k8s_info:
        api_version: 'route.openshift.io/v1'
        kind: Route
        namespace: '{{ ansible_operator_meta.namespace }}'
        name: '{{ ansible_operator_meta.name }}'
      register: route_url

    - name: Update URL status
      operator_sdk.util.k8s_status:
        api_version: '{{ api_version }}'
        kind: "{{ kind }}"
        name: "{{ ansible_operator_meta.name }}"
        namespace: "{{ ansible_operator_meta.namespace }}"
        status:
          URL: "https://{{ route_url['resources'][0]['status']['ingress'][0]['host'] }}"
  when: ingress_type | lower == 'route'
