---
extends: default

ignore: |
  .cache/
  kustomization.yaml
  eda-server-operator.clusterserviceversion.yaml
  bundle

rules:
  truthy: disable
  line-length:
    max: 170
  document-start: disable
  comments-indentation: disable
  indentation:
    level: warning
    indent-sequences: consistent
