# permissions for end users to edit edas.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: eda-editor-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: eda-server-operator
    app.kubernetes.io/part-of: eda-server-operator
    app.kubernetes.io/managed-by: kustomize
  name: eda-editor-role
rules:
- apiGroups:
  - eda.ansible.com
  resources:
  - edas
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - eda.ansible.com
  resources:
  - edas/status
  verbs:
  - get
