---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: '{{ ansible_operator_meta.name }}-default-deny'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2") | indent(4) | trim }}
spec:
  podSelector:
    matchExpressions:
      - key: app.kubernetes.io/managed-by
        operator: In
        values:
          - '{{ deployment_type }}-operator'
  policyTypes:
    - Ingress
    - Egress
