apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ ansible_operator_meta.name }}-nginx-api-configmap'
  namespace: '{{ ansible_operator_meta.namespace }}'
data:
  nginx_api_default_conf_template: |
    events {
        worker_connections 1024;
    }
    http {
        map $http_x_forwarded_proto $remote_scheme {
            default $http_x_forwarded_proto;
            ''      $scheme;
        }

        include mime.types;
        types {
            application/manifest+json webmanifest;
        }

        # Define the upstream gunicorn server
        upstream gunicorn {
            server 127.0.0.1:{{ api_django_port }};
        }

        server {
            listen {{ api_nginx_port }};
            {% if not ipv6_disabled | bool %}
            listen [::]:{{ api_nginx_port }};
            {% endif %}
            location ^~ /api/eda/static/ {
                alias {{ static_path }}/;
                access_log /var/log/nginx/static_access.log;
                error_log /var/log/nginx/static_error.log;
            }
            location ~ ^/api/eda {
                proxy_pass http://gunicorn;  # Forward requests to Django app
                proxy_set_header Host $http_host;
                proxy_set_header X-Forwarded-Host $host;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_set_header X-Forwarded-Port $server_port;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                # Return 503 Service Unavailable with JSON response if gunicorn fails to respond
                proxy_read_timeout {{ eda_nginx_read_timeout }}s;
                error_page 504 =503 /json_503;
                error_page 502 =503 /json_503;  # Optional, in case gunicorn is completely down    
            }
            location / {
                root {{ static_path }};
                try_files /index.html =404;
                access_log /var/log/nginx/proxy_access.log;
                error_log /var/log/nginx/proxy_error.log;
            }
            location = /json_503 {
                # Custom JSON response for 503 Service Unavailable
                internal;
                add_header Content-Type application/json;
    
                # Check if X-Request-ID is set and include it in the response
                if ($http_x_request_id) {
                    return 503 '{"status": "error", "message": "Service Unavailable", "code": 503, "request_id": "$http_x_request_id"}';
                }
    
                # If X-Request-ID is not set, just return the basic JSON response
                return 503 '{"status": "error", "message": "Service Unavailable", "code": 503}';
            }    
        }
    }
