---
apiVersion: v1
kind: Service
metadata:
  name: "{{ ansible_operator_meta.name }}-ui"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    app: eda
    comp: ui
spec:
  ports:
  - name: "8080"
    port: 8080
    targetPort: 8080
  selector:
    app: eda
    comp: ui
