---
apiVersion: v1
kind: Service
metadata:
  name: "{{ event_stream_server_name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=4) | trim }}
    app.kubernetes.io/component: '{{ deployment_type }}-event-stream'
spec:
  ports:
  - port: {{ event_stream_nginx_port }}
    protocol: TCP
    targetPort: {{ event_stream_nginx_port }}
  selector:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=4) | trim }}
    app.kubernetes.io/component: '{{ deployment_type }}-event-stream'
