---
apiVersion: v1
kind: Service
metadata:
  name: "{{ api_server_name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=4) | trim }}
    app.kubernetes.io/component: '{{ deployment_type }}-api'
spec:
  ports:
  - port: {{ api_port }}
    protocol: TCP
    targetPort: {{ api_port }}
  selector:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=4) | trim }}
    app.kubernetes.io/component: '{{ deployment_type }}-api'
---
apiVersion: v1
kind: Service
metadata:
  name: "{{ websocket_server_name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=4) | trim }}
    app.kubernetes.io/component: '{{ deployment_type }}-daphne'
spec:
  ports:
  - port: {{ websocket_port }}
    protocol: TCP
    targetPort: {{ websocket_port }}
  selector:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=4) | trim }}
    app.kubernetes.io/component: '{{ deployment_type }}-api'
