apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ ansible_operator_meta.name }}-nginx-api-configmap'
  namespace: '{{ ansible_operator_meta.namespace }}'
data:
  nginx_api_default_conf_template: |
    events {
        worker_connections 1024;
    }
    http {
        map $http_x_forwarded_proto $remote_scheme {
            default $http_x_forwarded_proto;
            ''      $scheme;
        }

        include mime.types;
        types {
            application/manifest+json webmanifest;
        }

        # Define the upstream gunicorn server
        upstream gunicorn {
            server 127.0.0.1:{{ api_django_port }};
        }

        server {
            listen {{ api_nginx_port }};
            location ^~ /api/eda/static/ {
                alias {{ static_path }}/;
                access_log /var/log/nginx/static_access.log;
                error_log /var/log/nginx/static_error.log;
            }
            location ~ ^/api/eda {
                proxy_pass http://gunicorn;  # Forward requests to Django app
                proxy_set_header Host $http_host;
                proxy_set_header X-Forwarded-Host $host;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_set_header X-Forwarded-Port $server_port;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            }
            location / {
                proxy_pass http://gunicorn;  # Forward requests to Django app
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_set_header X-Forwarded-Proto $scheme;
                access_log /var/log/nginx/proxy_access.log;
                error_log /var/log/nginx/proxy_error.log;
            }
        }
    }
