---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=4) | trim }}
    {{ lookup("template", "../common/templates/labels/version.yaml.j2") | indent(width=4) | trim }}
    app.kubernetes.io/component: '{{ deployment_type }}-api'
  name: '{{ ansible_operator_meta.name }}-api'
  namespace: '{{ ansible_operator_meta.namespace }}'
spec:
  replicas: {{ combined_api.replicas }}
{% if combined_api.strategy is defined %}
  strategy:
    type: {{ combined_api.strategy.type }}
{% if combined_api.strategy.type == "Recreate" %}
    rollingUpdate: null
{% elif combined_api.strategy.type == "RollingUpdate" %}
    rollingUpdate:
      maxSurge:  {{ combined_api.strategy.rollingUpdate.maxSurge | default("25%")}}
      maxUnavailable: {{ combined_api.strategy.rollingUpdate.maxUnavailable | default("25%")}}
{% endif %}
{% endif %}
  selector:
    matchLabels:
      app.kubernetes.io/name: '{{ ansible_operator_meta.name }}'
      app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
      app.kubernetes.io/component: '{{ deployment_type }}-api'
  template:
    metadata:
      labels:
        {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=8) | trim }}
        {{ lookup("template", "../common/templates/labels/version.yaml.j2") | indent(width=8) | trim }}
        app.kubernetes.io/component: '{{ deployment_type }}-api'
    spec:
      serviceAccountName: '{{ ansible_operator_meta.name }}'
{% if image_pull_secrets | length > 0 %}
      imagePullSecrets:
{% for secret in image_pull_secrets %}
        - name: {{ secret }}
{% endfor %}
{% endif %}
{% if combined_api.node_selector is defined %}
      nodeSelector:
        {{ combined_api.node_selector | indent(width=8) }}
{% endif %}
{% if combined_api.tolerations is defined %}
      tolerations:
        {{ combined_api.tolerations | indent(width=8) }}
{% endif %}
{% if combined_api.topology_spread_constraints is defined %}
      topologySpreadConstraints:
        {{ combined_api.topology_spread_constraints | indent(width=8) }}
{% endif %}
      initContainers:
      - name: eda-migrations
        image: {{ _image }}
        imagePullPolicy: '{{ image_pull_policy }}'
        command: ['aap-eda-manage', 'migrate']
        envFrom:
          - configMapRef:
              name: '{{ ansible_operator_meta.name }}-{{ deployment_type }}-configmap'
        env:
        - name: EDA_DEPLOYMENT_TYPE
          value: 'k8s'
        - name: EDA_ALLOWED_HOSTS
          value: "['*']"
        - name: EDA_DB_HOST
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: host
        - name: EDA_DB_NAME
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: database
        - name: EDA_DB_PORT
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: port
        - name: EDA_DB_USER
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: username
        - name: EDA_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: password
        - name: EDA_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: '{{ db_fields_encryption_secret_name }}'
              key: secret_key
{% if combined_api.resource_requirements is defined %}
        resources: {{ combined_api.resource_requirements }}
{% endif %}
      - name: eda-initial-data
        image: {{ _image }}
        imagePullPolicy: '{{ image_pull_policy }}'
        command: ['aap-eda-manage', 'create_initial_data']
        envFrom:
          - configMapRef:
              name: '{{ ansible_operator_meta.name }}-{{ deployment_type }}-configmap'
        env:
        - name: EDA_DEPLOYMENT_TYPE
          value: 'k8s'
        - name: EDA_ALLOWED_HOSTS
          value: "['*']"
        - name: EDA_DB_HOST
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: host
        - name: EDA_DB_NAME
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: database
        - name: EDA_DB_PORT
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: port
        - name: EDA_DB_USER
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: username
        - name: EDA_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: password
        - name: EDA_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: '{{ db_fields_encryption_secret_name }}'
              key: secret_key
{% if combined_api.resource_requirements is defined %}
        resources: {{ combined_api.resource_requirements }}
{% endif %}
      containers:
      - name: eda-api
        image: {{ _image }}
        imagePullPolicy: '{{ image_pull_policy }}'
        args:
        - /bin/bash
        - -c
        - gunicorn --bind 0.0.0.0:8000 --workers {{ combined_api.gunicorn_workers }} aap_eda.wsgi:application
        envFrom:
          - configMapRef:
              name: '{{ ansible_operator_meta.name }}-{{ deployment_type }}-configmap'
        env:
        - name: EDA_DEPLOYMENT_TYPE
          value: 'k8s'
        - name: EDA_DB_HOST
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: host
        - name: EDA_DB_NAME
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: database
        - name: EDA_DB_PORT
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: port
        - name: EDA_DB_USER
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: username
        - name: EDA_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: password
        - name: EDA_ALLOWED_HOSTS
          value: "['*']"
        - name: EDA_MQ_HOST
          value: {{ ansible_operator_meta.name }}-redis-svc
        - name: EDA_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: '{{ db_fields_encryption_secret_name }}'
              key: secret_key
        - name: EDA_CONTROLLER_URL
          value: "{{ automation_server_url }}"
        - name: EDA_CONTROLLER_SSL_VERIFY
          value: "{{ automation_server_ssl_verify | default('yes')}}"
        - name: EDA_WEBSOCKET_BASE_URL
          value: 'ws://{{ websocket_server_name }}:8001'
        - name: EDA_WEBSOCKET_SSL_VERIFY
          value: '{{ websocket_ssl_verify }}'
        ports:
        - containerPort: 8000
        readinessProbe:
          httpGet:
            path: /_healthz
            port: 8000
          failureThreshold: 10
          periodSeconds: 10
          initialDelaySeconds: 90
        livenessProbe:
          httpGet:
            path: /_healthz
            port: 8000
          failureThreshold: 10
          periodSeconds: 10
          initialDelaySeconds: 90
{% if combined_api.resource_requirements is defined %}
        resources: {{ combined_api.resource_requirements }}
{% endif %}
      - name: daphne
        image: {{ _image }}
        imagePullPolicy: '{{ image_pull_policy }}'
        args:
        - /bin/bash
        - -c
        - daphne -b 0.0.0.0 -p 8001 aap_eda.asgi:application
        envFrom:
          - configMapRef:
              name: '{{ ansible_operator_meta.name }}-{{ deployment_type }}-configmap'
        env:
        - name: EDA_DEPLOYMENT_TYPE
          value: 'k8s'
        - name: EDA_DB_HOST
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: host
        - name: EDA_DB_NAME
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: database
        - name: EDA_DB_PORT
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: port
        - name: EDA_DB_USER
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: username
        - name: EDA_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: '{{ __database_secret }}'
              key: password
        - name: EDA_ALLOWED_HOSTS
          value: "['*']"
        - name: EDA_MQ_HOST
          value: {{ ansible_operator_meta.name }}-redis-svc
        - name: EDA_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: '{{ db_fields_encryption_secret_name }}'
              key: secret_key
        - name: EDA_CONTROLLER_URL
          value: "{{ automation_server_url }}"
        - name: EDA_CONTROLLER_SSL_VERIFY
          value: "{{ automation_server_ssl_verify | default('yes')}}"
        - name: EDA_WEBSOCKET_BASE_URL
          value: 'ws://{{ websocket_server_name }}:8001'
        - name: EDA_WEBSOCKET_SSL_VERIFY
          value: '{{ websocket_ssl_verify }}'
{% if combined_api.resource_requirements is defined %}
        resources: {{ combined_api.resource_requirements }}
{% endif %}
      restartPolicy: Always
