---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ ansible_operator_meta.name }}-worker"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=4) | trim }}
    {{ lookup("template", "../common/templates/labels/version.yaml.j2") | indent(width=4) | trim }}
    app.kubernetes.io/component: '{{ deployment_type }}-worker'
spec:
  replicas: {{ worker.replicas }}
{% if worker.strategy is defined %}
  strategy:
    type: {{ worker.strategy.type }}
{% if worker.strategy.type == "Recreate" %}
    rollingUpdate: null
{% elif worker.strategy.type == "RollingUpdate" %}
    rollingUpdate:
      maxSurge:  {{ worker.strategy.rollingUpdate.maxSurge | default("25%")}}
      maxUnavailable: {{ worker.strategy.rollingUpdate.maxUnavailable | default("25%")}}
{% endif %}
{% endif %}
  selector:
    matchLabels:
      app.kubernetes.io/name: '{{ ansible_operator_meta.name }}'
      app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
      app.kubernetes.io/component: '{{ deployment_type }}-worker'
  template:
    metadata:
      labels:
        {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=8) | trim }}
        {{ lookup("template", "../common/templates/labels/version.yaml.j2") | indent(width=8) | trim }}
        app.kubernetes.io/component: '{{ deployment_type }}-worker'
    spec:
{% if worker.node_selector is defined %}
      nodeSelector:
        {{ worker.node_selector | indent(width=8) }}
{% endif %}
{% if worker.tolerations is defined %}
      tolerations:
        {{ worker.tolerations | indent(width=8) }}
{% endif %}
{% if worker.topology_spread_constraints is defined %} %}
      topologySpreadConstraints:
        {{ worker.topology_spread_constraints | indent(width=8) }}
{% endif %}
      containers:
      - name: eda-worker
        image: {{ _api_image }}
        imagePullPolicy: '{{ image_pull_policy }}'
        args:
        - /bin/bash
        - -c
        - aap-eda-manage rqworker --worker-class aap_eda.core.tasking.Worker
        env:
        - name: EDA_DB_HOST
          valueFrom:
            secretKeyRef:
              name: '{{ __postgres_configuration_secret }}'
              key: host
        - name: EDA_DB_NAME
          valueFrom:
            secretKeyRef:
              name: '{{ __postgres_configuration_secret }}'
              key: database
        - name: EDA_DB_PORT
          valueFrom:
            secretKeyRef:
              name: '{{ __postgres_configuration_secret }}'
              key: port
        - name: EDA_DB_USER
          valueFrom:
            secretKeyRef:
              name: '{{ __postgres_configuration_secret }}'
              key: username
        - name: EDA_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: '{{ __postgres_configuration_secret }}'
              key: password
        - name: EDA_MQ_HOST
          value: {{ ansible_operator_meta.name }}-redis-svc
        ports:
        - containerPort: 8000
{% if worker.resource_requirements is defined %}
        resources: {{ worker.resource_requirements }}
{% endif %}
      restartPolicy: Always
