---
apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ ansible_operator_meta.name }}-proxy-env'
  namespace: '{{ ansible_operator_meta.namespace }}'
data:
{% if http_proxy %}
  HTTP_PROXY: '{{ http_proxy }}'
  http_proxy: '{{ http_proxy }}'
{% endif %}
{% if https_proxy %}
  HTTPS_PROXY: '{{ https_proxy }}'
  https_proxy: '{{ https_proxy }}'
{% endif %}
{% if http_proxy or https_proxy or no_proxy %}
{% set _no_proxy_list = (no_proxy | default('')).split(',') | map('trim') | select | list %}
{% set _required = ['localhost', '127.0.0.1', '::1', '[::1]', '.svc', '.svc.cluster.local', ansible_operator_meta.name, ansible_operator_meta.name + '.' + ansible_operator_meta.namespace, ansible_operator_meta.name + '-api', ansible_operator_meta.name + '-api.' + ansible_operator_meta.namespace, ansible_operator_meta.name + '-daphne', ansible_operator_meta.name + '-daphne.' + ansible_operator_meta.namespace] %}
{% set _augmented = (_no_proxy_list + _required) | unique | join(',') %}
  NO_PROXY: {{ _augmented | to_yaml }}
  no_proxy: {{ _augmented | to_yaml }}
{% endif %}
