---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ ansible_operator_meta.name }}-worker"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    app: eda
    comp: worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: eda
      comp: worker
  strategy: {}
  template:
    metadata:
      labels:
        app: eda
        comp: worker
    spec:
      containers:
      - args:
        - /bin/bash
        - -c
        - aap-eda-manage rqworker --worker-class aap_eda.core.tasking.Worker
        env:
        - name: EDA_DATABASE_URL
          value: postgresql+asyncpg://postgres:secret@postgres/eda
        - name: EDA_DB_HOST
          value: eda-postgres
        - name: EDA_MQ_HOST
          value: eda-redis
        image: aap-eda:latest
        imagePullPolicy: Never
        name: eda-worker
        ports:
        - containerPort: 8000
        resources: {}
      restartPolicy: Always
