apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ ansible_operator_meta.name }}-nginx-event-stream-configmap'
  namespace: '{{ ansible_operator_meta.namespace }}'
data:
  nginx_event_stream_default_conf_template: |
    events {
        worker_connections 1024;
    }
    http {
        map $http_x_forwarded_proto $remote_scheme {
            default $http_x_forwarded_proto;
            ''      $scheme;
        }

        map $http_x_trusted_proxy $trusted_proxy_present {
            default "trusted-proxy";
            ""      "-";
        }

        map $http_x_dab_jw_token $dab_jwt_present {
            default "dab-jwt";
            ""      "-";
        }

        log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                        '$status $body_bytes_sent "$http_referer" '
                        '"$http_user_agent" "$http_x_forwarded_for" '
                        'rid=$request_id $trusted_proxy_present $dab_jwt_present';

        access_log /dev/stdout main;
        error_log /dev/stderr warn;

        include mime.types;
        types {
            application/manifest+json webmanifest;
        }

        log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                        '$status $body_bytes_sent "$http_referer" '
                        '"$http_user_agent" "$http_x_forwarded_for" '
                        'rid=$request_id req_len=$request_length';

        access_log /dev/stdout main;
        error_log /dev/stderr warn;

        upstream eda-api-event-stream-backend {
            server 127.0.0.1:{{ event_stream_django_port }};
        }

        server {
            listen {{ event_stream_nginx_port }};
            {% if not ipv6_disabled | bool %}
            listen [::]:{{ event_stream_nginx_port }};
            {% endif %}

            location / {
                proxy_pass              http://eda-api-event-stream-backend/;
                proxy_set_header        Host $host:$server_port;
                proxy_set_header        X-Forwarded-Proto $scheme;
                proxy_set_header        X-Forwarded-Host $host;
                proxy_set_header        X-Forwarded-Port $server_port;
                proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
                # Return 503 Service Unavailable with JSON response if gunicorn fails to respond
                proxy_read_timeout {{ eda_nginx_read_timeout }}s;
                error_page 504 =503 /json_503;
                error_page 502 =503 /json_503;  # Optional, in case gunicorn is completely down    
            }
            location = /json_503 {
                # Custom JSON response for 503 Service Unavailable
                internal;
                add_header Content-Type application/json;
    
                # Check if X-Request-ID is set and include it in the response
                if ($http_x_request_id) {
                    return 503 '{"status": "error", "message": "Service Unavailable", "code": 503, "request_id": "$http_x_request_id"}';
                }
    
                # If X-Request-ID is not set, just return the basic JSON response
                return 503 '{"status": "error", "message": "Service Unavailable", "code": 503}';
            }    
        }
    }
