---
apiVersion: v1
kind: Service
metadata:
  name: "{{ ansible_operator_meta.name }}-activation-worker"
  namespace: "{{ ansible_operator_meta.namespace }}"
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=4) | trim }}
    app.kubernetes.io/component: '{{ deployment_type }}-activation-worker'
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2")  | indent(width=4) | trim }}
    app.kubernetes.io/component: '{{ deployment_type }}-activation-worker'
