# EDA ConfigMap.
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ ansible_operator_meta.name }}-{{ deployment_type }}-env-properties'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2") | indent(width=4) | trim }}
data:
  # Operator specific settings
  EDA_DEPLOYMENT_TYPE: "k8s"

  # EDA Server
  EDA_CONTROLLER_URL: "{{ automation_server_url }}"
  EDA_CONTROLLER_SSL_VERIFY: "{{ automation_server_ssl_verify | default('yes')}}"

  # EDA Server
  EDA_ALLOWED_HOSTS: "['*']"
  EDA_CSRF_TRUSTED_ORIGINS: "http://{{ ansible_operator_meta.name }}-api:8000"
  EDA_MQ_HOST: "{{ ansible_operator_meta.name }}-redis-svc"
  EDA_WEBSOCKET_BASE_URL: "ws://{{ websocket_server_name }}:8001"
  EDA_WEBSOCKET_SSL_VERIFY: "{{ websocket_ssl_verify }}"
  EDA_PROTOCOL: "http"
  EDA_HOST: "{{ ansible_operator_meta.name }}-api:8000"
  EDA_MAX_RUNNING_ACTIVATIONS: "12"

  # Custom user variables
{% for item in extra_settings | default([]) %}
  {{ item.setting | upper }}: "{{ item.value }}"
{% endfor %}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: '{{ ansible_operator_meta.name }}-{{ deployment_type }}-configmap'
  namespace: '{{ ansible_operator_meta.namespace }}'
  labels:
    {{ lookup("template", "../common/templates/labels/common.yaml.j2") | indent(width=4) | trim }}
data:
  nginx_default_conf_template: |
    events {
        worker_connections 1024;
    }
    http {
        map $http_x_forwarded_proto $remote_scheme {
            default $http_x_forwarded_proto;
            ''      $scheme;
        }

        include mime.types;
        types {
            application/manifest+json webmanifest;
        }
        server {
            listen 8080;
            {% if not ipv6_disabled %}
            listen [::]:8080;
            {% endif %}

            server_name _;
            server_tokens off;

            access_log off;
            # error_log off;

            autoindex off;

            include mime.types;
            types {
                application/manifest+json webmanifest;
            }

            sendfile on;

            root /usr/share/nginx/html;

            location ~ ^/api/eda/v[0-9]+/ {
                proxy_pass http://{{ ansible_operator_meta.name }}-api:8000;
                proxy_set_header Origin http://{{ ansible_operator_meta.name }}-api:8000;
                proxy_set_header Host $http_host;
                proxy_set_header X-Forwarded-Host $host;
                proxy_set_header X-Forwarded-Proto $remote_scheme;
                proxy_set_header X-Forwarded-Port $server_port;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            }

            location ~* \.(json|woff|woff2|jpe?g|png|gif|ico|svg|css|js)$ {
                add_header Cache-Control "public, max-age=31536000, s-maxage=31536000, immutable";
                try_files $uri =404;
                gzip_static on;
            }

            location / {
                autoindex off;
                expires off;
                add_header Cache-Control "public, max-age=0, s-maxage=0, must-revalidate" always;
                try_files $uri $uri/ /index.html =404;
            }
        }
      }
