# k8s job to handle migrations
---
apiVersion: batch/v1
kind: Job
metadata:
  name: django-migrations
  namespace: '{{ ansible_operator_meta.namespace }}'
spec:
  template:
    metadata:
      name: '{{ ansible_operator_meta.name }}-migrations-job'
    spec:
      serviceAccountName: '{{ ansible_operator_meta.name }}'
      ttlSecondsAfterFinished: 600
      containers:
        - name: eda-migrations
          image: {{ _image }}
          command: ['aap-eda-manage', 'migrate']
          env:
          - name: EDA_DEPLOYMENT_TYPE
            value: 'k8s'
          - name: EDA_ALLOWED_HOSTS
            value: "['*']"
          - name: EDA_DB_HOST
            valueFrom:
              secretKeyRef:
                name: '{{ __database_secret }}'
                key: host
          - name: EDA_DB_NAME
            valueFrom:
              secretKeyRef:
                name: '{{ __database_secret }}'
                key: database
          - name: EDA_DB_PORT
            valueFrom:
              secretKeyRef:
                name: '{{ __database_secret }}'
                key: port
          - name: EDA_DB_USER
            valueFrom:
              secretKeyRef:
                name: '{{ __database_secret }}'
                key: username
          - name: EDA_DB_PASSWORD
            valueFrom:
              secretKeyRef:
                name: '{{ __database_secret }}'
                key: password
            volumeMounts:
              - name: {{ ansible_operator_meta.name }}-settings
                mountPath: /app/src/src/aap_eda/settings/default.py
                subPath: default.py
                readOnly: true
      restartPolicy: Never
      volumes:
        - name: {{ ansible_operator_meta.name }}-settings
          configMap:
            name: '{{ ansible_operator_meta.name }}-{{ deployment_type }}-configmap'
            items:
              - key: settings
                path: default.py
  backoffLimit: 2
