# Redis EDA Secret.
---
apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: 'redis'
    app.kubernetes.io/instance: 'redis-{{ ansible_operator_meta.name }}'
    app.kubernetes.io/component: cache
    app.kubernetes.io/part-of: '{{ deployment_type }}'
    app.kubernetes.io/managed-by: '{{ deployment_type }}-operator'
  name: '{{ ansible_operator_meta.name }}-redis-configuration'
  namespace: '{{ ansible_operator_meta.namespace }}'
stringData:
  password: ''
  username: ''
  port: '6379'
  host: {{ ansible_operator_meta.name }}-redis-svc
  type: 'managed'
