---
# defaults file for EDA

deployment_type: eda

image_pull_policy: IfNotPresent
image_pull_secrets: []

_redis_image: quay.io/sclorg/redis-6-c9s
_redis_image_version: c9s

redis: {}
_redis:
  disabled: false
  replicas: 1
  resource_requirements:
    requests:
      cpu: 50m
      memory: 100Mi
  node_selector: ''
  tolerations: ''

# Labels defined on the resource, which should be propagated to child resources
additional_labels: []
