---
# defaults file for EDA

deployment_type: eda

_redis_image: quay.io/sclorg/redis-6-c8s
_redis_image_version: latest

redis: {}
_redis:
  replicas: 1
  resource_requirements:
    requests:
      cpu: 200m
      memory: 512Mi
  node_selector: ''
  tolerations: ''

# Labels defined on the resource, which should be propagated to child resources
additional_labels: []
