---
# defaults file for EDA

deployment_type: eda

image_pull_policy: IfNotPresent
image_pull_secrets: []

_redis_image: redis
_redis_image_version: 7

redis: {}
_redis:
  replicas: 1
  resource_requirements:
    requests:
      cpu: 200m
      memory: 512Mi
  node_selector: ''
  tolerations: ''

# Labels defined on the resource, which should be propagated to child resources
additional_labels: []
