---
# defaults file for EDA
deployment_type: eda
database_name: "{{ deployment_type }}"
database_username: "{{ deployment_type }}"

_postgres_image: postgres
_postgres_image_version: 13

# Add a nodeSelector for the Postgres pods.
# It must match a node's labels for the pod to be scheduled on that node.
# Specify as literal block. E.g.:
# postgres:
#   postgres_selector: |
#     disktype: ssd
#     kubernetes.io/arch: amd64
#     kubernetes.io/os: linux

# Add node tolerations for the Postgres pods.
# Specify as literal block. E.g.:
# postgres:
#   postgres_tolerations: |
#     - key: "dedicated"
#       operator: "Equal"
#       value: "EDA"
#       effect: "NoSchedule"


# Assign a preexisting priority class to the postgres pod
database: {}
_database:
  replicas: 1
  resource_requirements:
    requests:
      cpu: 200m
      memory: 512Mi
  storage_requirements:
    requests:
      storage: 8Gi
  node_selector: ''
  priority_class: ''
  tolerations: ''
  postgres_data_path: '/var/lib/postgresql/data/pgdata'
  postgres_extra_args: ''
  database_secret: '' # Name of k8s secret containing postgres host, username, password, database, port, and type


image_pull_policy: IfNotPresent
image_pull_secrets: []

# Labels defined on the resource, which should be propagated to child resources
additional_labels: []
